* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: 0px;
  box-shadow: 0px;
}

@font-face {
  font-family: "Plex-Sans";
  src: url(/media/font/IBMPlexSans-Medium.ttf);
}
body {
  font-family: Plex-Sans;
  background-color: #F7F9FA;
}

summary {
  display: block;
}
summary summary::marker {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.header {
  height: 120px;
}
.header-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 60px;
  height: 20px;
}

.up-menu-left {
  display: flex;
  gap: 16px;
  height: 20px;
  width: 450px;
}
.up-menu-left__link {
  color: #8D8D8D;
  font-size: 15px;
}
.up-menu-left__link:hover {
  color: #313133;
}
.up-menu-left__line-vert {
  border: 1px solid #E0E1E6;
}

.up-menu-right {
  display: inline-flex;
  gap: 16px;
  height: 20px;
}
.up-menu-right__link {
  color: #760135;
  font-weight: 500;
}

.filter-city__items {
  position: absolute;
}

.line {
  border: 1px solid #E0E1E6;
}

.EnPage {
  color: #0D0D0D;
}

.header-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.down-menu-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link-box {
  display: flex;
  gap: 16px;
}

.link {
  color: #0D0D0D;
}

.filter-service__items {
  margin-top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.down-menu-right {
  display: flex;
  align-items: center;
}

.phone-link {
  display: flex;
  margin-right: 16px;
  font-weight: 500;
  gap: 8px;
  color: #25B456;
}

.bank-link {
  display: flex;
  font-weight: 500;
  gap: 8px;
  color: #760135;
}

.banner {
  background-image: url(/media/img/background1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px 60px;
}
.banner__head {
  margin-top: 172px;
  font-size: 38px;
  font-weight: 600;
}
.banner__text {
  margin-top: 16px;
  font-size: 15px;
  font-weight: 400;
}
.banner__btn {
  margin: 24px 0 112px 0;
  width: 230px;
  height: 48px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #760135;
}

.breadCrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
}
.breadCrumbs__noActive {
  font-size: 13px;
  color: #111111;
  opacity: 50%;
}
.breadCrumbs__arrow {
  color: #111111;
  opacity: 50%;
}
.breadCrumbs__active {
  font-size: 13px;
  color: #111111;
}

.search {
  padding: 20px 172px 0 172px;
}

.search-up {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-up__head {
  font-size: 32px;
  font-weight: 500;
}

.filter-car__head {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  width: 256px;
  height: 40px;
  color: #760135;
}

.filtre-car-card {
  position: absolute;
}

.search-down {
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.search-stamp__head {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}

.filter-stamp-box {
  margin-right: 24px;
}

.filter-stamp__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 440px;
  height: 40px;
  background-color: #F3F3F5;
  border-radius: 8px;
  border: 1px solid #ECEDF0;
}

.filter-stamp__head {
  font-size: 13px;
  font-weight: 400;
  opacity: 50%;
}

.filter-stamp-stamps {
  position: absolute;
  background-color: #fff;
  width: 440px;
}

.search-year {
  margin-right: 16px;
}

.search-year__head {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}

.filter-year-box {
  margin-right: 24px;
}

.filter-year__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  width: 220px;
  height: 40px;
  background-color: #F3F3F5;
  border-radius: 8px;
  border: 1px solid #ECEDF0;
}

.filter-year__head {
  font-size: 13px;
  font-weight: 400;
  opacity: 50%;
}

.filter-year-years {
  position: absolute;
  background-color: #fff;
  width: 220px;
}

.search-price__head {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 500;
}

.sort-price {
  display: flex;
  align-items: center;
  gap: 18px;
}
.sort-price__fieldInput {
  padding: 0 16px;
  width: 170px;
  height: 40px;
  font-size: 13px;
  font-weight: 400;
  background-color: #F3F3F5;
  border: 1px solid #ECEDF0;
  border-radius: 8px;
}
.sort-price__line {
  width: 18px;
  border: 3px solid #E6E7EB;
  border-radius: 3px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 170px 0px 170px;
  height: 100px;
  background-color: #fff;
  border-radius: 16px;
}
.info__text {
  font-size: 15px;
  font-weight: 400;
}
.info__link {
  margin-left: 6px;
  font-size: 15px;
  font-weight: 500;
  color: #760135;
}

.general-terms {
  margin: 60px 170px 0 170px;
  padding: 60px;
  height: 300px;
  background-color: #fff;
  border-radius: 16px;
}
.general-terms__head {
  font-size: 24px;
  font-weight: 600;
  color: #760135;
}
.general-terms__link {
  margin: 26px 0 40px 0;
  float: right;
  font-size: 15px;
  font-weight: 500;
  color: #760135;
}

.term {
  padding: 24px 0 20px 0;
  display: flex;
  align-items: center;
  gap: 330px;
}
.term__head {
  font-size: 15px;
  font-weight: 500;
}
.term__text {
  font-size: 15px;
  font-weight: 400;
}

.sum {
  display: flex;
  align-items: center;
  gap: 318px;
}
.sum__head {
  font-size: 15px;
  font-weight: 500;
}
.sum__text {
  font-size: 15px;
  font-weight: 400;
}

.bet {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 152px;
}
.bet__head {
  font-size: 15px;
  font-weight: 500;
}
.bet__text {
  font-size: 15px;
  font-weight: 400;
}

.lineUpDown {
  padding: 20px 0;
  border-top: 1px solid #E0E1E6;
  border-bottom: 1px solid #E0E1E6;
}

.questions {
  display: flex;
  align-items: center;
  margin: 110px 170px 100px 170px;
}
.questions__head {
  margin: 0 64px 0 16px;
  width: 216px;
  height: 62px;
  font-size: 24px;
  font-weight: 500;
}

.filter-questions-box {
  flex: 1;
}

.filter-questions__head {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  border-radius: 16px;
}

.filter-questions__question {
  position: absolute;
}

.footer {
  padding: 36px 60px;
  background-color: #fff;
}

.footer-up {
  display: flex;
  align-items: center;
}

.footer-left {
  display: flex;
  gap: 36px;
}

.right {
  width: 320px;
}

.center {
  width: 302px;
}

.head {
  font-size: 17px;
  font-weight: 500;
}

.list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list__link {
  font-size: 15px;
  font-weight: 400;
  color: #606266;
  list-style-type: none;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 36px;
}
.footer-right__phone-link {
  font-size: 24px;
  font-weight: 500;
  color: #760135;
}
.footer-right__text {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 400;
  color: #BABCC2;
}

.lineVertical {
  border: 1px solid #E6E7EB;
}

.icon-link-box {
  display: flex;
  gap: 16px;
}

.footer-info {
  padding-bottom: 16px;
  margin-top: 54px;
  border-bottom: 1px solid #E0E1E6;
}
.footer-info__link {
  font-size: 12px;
  font-weight: 400;
  color: #7E7F85;
  text-decoration: underline;
}

.footer-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.footer-down-left__text {
  font-size: 13px;
  font-weight: 400;
  color: #606266;
}

.footer-down-right {
  display: flex;
  align-items: center;
}
.footer-down-right__text {
  font-size: 13px;
  font-weight: 400;
  color: #606266;
}
.footer-down-right__link {
  color: #00BFFF;
}

.block {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 30%;
  right: 30%;
  left: 30%;
  background-color: #f4f2f2;
  border-radius: 16px;
}
.block__head {
  text-align: center;
}
.block__text {
  font-size: 24px;
}
.block__box-btnOnMainPage {
  max-width: 124px;
  max-height: 40px;
  min-width: 102px;
  min-height: 34px;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  background-color: #760135;
}
.block__box-btnOnMainPage:hover {
  background-color: #65012e;
  transition-duration: 0.3s;
}

@media (max-width: 360px) {
  .block__head {
    font-size: 16px;
  }
  .block__text {
    font-size: 16px;
  }
  .block__box-btnOnMainPage {
    font-size: 16px;
  }
}
@media (max-width: 764px) {
  .block__head {
    font-size: 26px;
  }
  .block__text {
    font-size: 22px;
  }
  .block__box-btnOnMainPage {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */