*
    padding: 0
    margin: 0
    text-decoration: none
    border: 0px
    box-shadow: 0px

@font-face
    font-family: "Plex-Sans"
    src: url(/media/font/IBMPlexSans-Medium.ttf)

body
    font-family: Plex-Sans
    background-color: #F7F9FA

summary
    display: block

summary summary::marker
    display: none

input[type=number]
    -moz-appearance: textfield
    -webkit-appearance: textfield
    appearance: textfield

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

.wrapper
    margin: 0 auto
    padding: 0 60px

    &-center
        margin: 0 auto
        padding: 0 172px

/*!!!------ header ------!!!*/
.header-up
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 0

.up-menu-left
    display: flex
    gap: 16px
    max-height: 20px

    &__link
        color: #8D8D8D
        font-size: 15px

    &__link:hover
        color: #313133

    &__line-vert
        border: 1px solid #E0E1E6

.up-menu-right
    display: inline-flex
    gap: 16px
    max-height: 20px

    &
        display: inline-flex
        gap: 16px
        max-height: 20px

    &__link
        color: #760135
        font-weight: 500

.filter-city__items
    position: absolute

.line
    border: 1px solid #E0E1E6

.EnPage
    color: #0D0D0D

.header-down
    display: flex
    align-items: center
    justify-content: space-between

.down-menu-left
    display: flex
    align-items: center
    gap: 16px

.link-box
    display: flex
    gap: 16px

.link
    color: #0D0D0D

.filter-service__items
    margin-top: 10px
    position: absolute
    display: flex
    flex-direction: column
    gap: 10px

.down-menu-right
    display: flex
    align-items: center
    gap: 16px
    padding: 20px 0

.phone-link
    display: flex
    font-weight: 500
    gap: 8px
    color: #25B456

.bank-link
    display: flex
    font-weight: 500
    gap: 8px
    color: #760135

/*!!!------ banner ------!!!*/
.banner-box
    background-image: url(/media/img/background1.svg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    min-width: 400px
    padding: 16px 0

.breadCrumbs
    display: flex
    align-items: center
    gap: 8px

    &__noActive
        font-size: 13px
        color: #111111
        opacity: 50%

    &__arrow
        color: #111111
        opacity: 50%

    &__active
        font-size: 13px
        color: #111111

.banner__head
    margin-top: 172px
    font-size: 38px
    font-weight: 600

.banner__text
    margin-top: 16px
    font-size: 15px
    font-weight: 400

.banner__btn
    margin: 24px 0 112px 0
    width: 230px
    height: 48px
    color: #fff
    font-size: 15px
    font-weight: 500
    border-radius: 8px
    background-color: #760135
    cursor: pointer

/*!!!------ search ------!!!*/
.search
    padding: 40px 0

    &-up
        display: flex
        align-items: center
        justify-content: space-between

    &-up__head
        font-size: 32px
        font-weight: 500

.filter-car__head
    display: flex
    justify-content: center
    align-items: center
    max-width: 328px
    min-width: 256px
    height: 40px
    font-size: 15px
    font-weight: 500
    color: #760135
    background-color: #fff
    border-radius: 4px
    cursor: pointer

.search-down
    display: flex
    align-items: center
    gap: 16px
    margin-top: 24px

    &-up
        display: flex
        align-items: center
        gap: 24px

.search-stamp__head
    margin-bottom: 8px
    font-size: 15px
    font-weight: 500

.filter-stamp__heading
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 16px
    width: 440px
    min-width: 156px
    height: 40px
    background-color: #F3F3F5
    border-radius: 8px
    border: 1px solid #ECEDF0

.filter-stamp__head
    font-size: 13px
    font-weight: 400
    opacity: 50%

.filter-stamp-stamps
    position: absolute
    background-color: #fff
    max-width: 440px
    min-width: 156px

.search-year__head
    margin-bottom: 8px
    font-size: 15px
    font-weight: 500

.filter-year__heading
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 16px
    width: 220px
    min-width: 156px
    height: 40px
    background-color: #F3F3F5
    border-radius: 8px
    border: 1px solid #ECEDF0

.filter-year__head
    font-size: 13px
    font-weight: 400
    opacity: 50%

.filter-year-years
    position: absolute
    background-color: #fff
    max-width: 220px
    min-width: 156px

.search-price__head
    margin-bottom: 8px
    font-size: 15px
    font-weight: 500

.sort-price
    display: flex
    align-items: center
    gap: 18px

    &__fieldInput
        padding: 0 16px
        max-width: 170px
        min-width: 156px
        height: 40px
        font-size: 13px
        font-weight: 400
        background-color: #F3F3F5
        border: 1px solid #ECEDF0
        border-radius: 8px

    &__line
        width: 15px
        border: 3px solid #E6E7EB
        border-radius: 3px

.filter-car-bestCard
    margin-top: 24px
    display: flex
    flex-direction: column
    gap: 16px

.bestCard
    display: flex
    gap: 100px
    padding: 40px
    background-color: #fff
    border-radius: 16px

    &-right
        display: flex
        align-items: center
        gap: 54px

.bestOffer
    font-size: 15px
    font-weight: 500
    color: #25B456

.nameCar
    margin: 8px 0 16px 0
    font-size: 24px
    font-weight: 500
    color: #111111

.descCar
    font-size: 15px
    font-weight: 400
    color: #282828

.priceCar
    margin-top: 21px
    font-size: 24px
    font-weight: 500
    color: #760135

.linkMoreInfo
    margin-top: 22px
    display: flex
    align-items: center
    gap: 8px
    color: #760135

.bestCard__img
    max-width: 308px

.bestCard__buttonArrow
    opacity: 50%

.card-box
    display: flex
    flex-wrap: wrap
    gap: 16px
    justify-content: center

.card
    padding: 16px
    background-color: #fff
    border-radius: 16px

    &__img
        max-width: 322px

.car-name
    margin: 16px 0
    font-size: 17px
    font-weight: 500

.car-city
    margin-bottom: 8px
    color: #282828
    font-size: 15px
    font-weight: 400

.card-down
    display: flex
    align-items: center
    justify-content: space-between

.car-price
    font-size: 17px
    font-weight: 500
    color: #760135

.card__link-moreInfo
    color: #282828
    font-size: 13px
    font-weight: 400

.info
    display: flex
    justify-content: center
    align-items: center
    margin: 24px 0px
    max-height: 100px
    height: 72px
    background-color: #fff
    border-radius: 16px

    &__text
        font-size: 15px
        font-weight: 400

    &__link
        margin-left: 6px
        font-size: 15px
        font-weight: 500
        color: #760135

.general-terms
    margin-top: 60px
    padding: 40px
    height: 300px
    background-color: #fff
    border-radius: 16px

    &__head
        font-size: 24px
        font-weight: 600
        color: #760135

    &__link
        margin-top: 26px
        float: right
        font-size: 15px
        font-weight: 500
        color: #760135

.term
    padding: 24px 0 20px 0
    display: flex
    align-items: center
    gap: 330px

    &__head
        font-size: 15px
        font-weight: 500

    &__text
        font-size: 15px
        font-weight: 400

.sum
    display: flex
    align-items: center
    gap: 318px

    &__head
        font-size: 15px
        font-weight: 500

    &__text
        font-size: 15px
        font-weight: 400

.bet
    margin: 20px 0
    display: flex
    align-items: center
    gap: 152px

    &__head
        font-size: 15px
        font-weight: 500

    &__text
        font-size: 15px
        font-weight: 400

.lineUpDown
    padding: 20px 0
    border-top: 1px solid #E0E1E6
    border-bottom: 1px solid #E0E1E6

.questions
    display: flex
    align-items: center
    margin: 110px 0 100px 0
    gap: 62px

    &-up
        display: flex
        align-items: center
        gap: 16px

    &__head
        max-width: 216px
        height: 62px
        font-size: 24px
        font-weight: 500

.filter-questions-box
    flex: 1

.filter-questions__head
    display: flex
    align-items: center
    justify-content: space-between
    padding: 0 24px
    height: 52px
    font-size: 15px
    font-weight: 400
    background-color: #fff
    border-radius: 16px

.filter-questions__question
    position: absolute

.footer-box
    padding: 36px 0
    background-color: #fff

.footer-up
    display: flex
    align-items: center

.footer-left
    display: flex
    gap: 36px

.right
    width: 320px
    min-width: 170px

.center
    width: 302px
    min-width: 266px

.left
    width: 302px
    min-width: 266px

.head
    font-size: 17px
    font-weight: 500

.list
    margin-top: 16px
    display: flex
    flex-direction: column
    gap: 10px

    &__link
        font-size: 15px
        font-weight: 400
        color: #606266
        list-style-type: none

.footer-right
    display: flex
    flex-direction: column
    gap: 24px
    margin-left: 36px

    &__phone-link
        font-size: 24px
        font-weight: 500
        color: #760135

    &__text
        margin-top: 8px
        font-size: 13px
        font-weight: 400
        color: #BABCC2

.lineVertical
    border-left: 1px solid #E6E7EB
    height: 300px

.icon-link-box
    display: flex
    gap: 16px

.footer-info
    padding-bottom: 16px
    margin-top: 54px
    border-bottom: 1px solid #E0E1E6

    &__link
        font-size: 12px
        font-weight: 400
        color: #7E7F85
        text-decoration: underline

.footer-down
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 16px

    &-left__text
        font-size: 13px
        font-weight: 400
        color: #606266

    &-right
        display: flex
        align-items: center

    &-right__text
        font-size: 13px
        font-weight: 400
        color: #606266

    &-right__link
        color: #00BFFF

.block
    padding: 16px
    display: flex
    flex-direction: column
    gap: 16px
    position: absolute
    top: 30%
    right: 30%
    left: 30%
    background-color: #f4f2f2
    border-radius: 16px

    &__head
        font-size: 28px
        text-align: center

    &__text
        font-size: 24px

    &__box-btnOnMainPage
        max-width: 124px
        max-height: 40px
        min-width: 102px
        min-height: 34px
        font-size: 18px
        color: #fff
        border-radius: 8px
        background-color: #760135
        cursor: pointer

    &__box-btnOnMainPage:hover
        background-color: #65012e
        transition-duration: 0.3s

@media (max-width: 768px)
    .none
        display: none

    .wrapper
        padding: 0 16px

        &-center
            padding: 0 16px

    .header-up
        justify-content: center

    .up-menu-left
        justify-content: space-around
