*
    padding: 0
    margin: 0
    text-decoration: none
    border: 0px
    box-shadow: 0px

@font-face
    font-family: 'Plex-Sans'
    src: url(/media/font/IBMPlexSans-Medium.ttf)

body
    font-family: Plex-Sans
    background-color: #F7F9FA

summary
    display: block
    summary::marker
        display: none

.header
    height: 120px

    &-up
        display: flex
        align-items: center
        justify-content: space-between
        padding: 16px 60px
        height: 20px

.up-menu-left
    display: flex
    gap: 16px
    height: 20px
    width: 450px
    &__link
        color: #8D8D8D
        font-size: 15px
        &:hover
            color: #313133
    &__line-vert
        border: 1px solid #E0E1E6

.up-menu-right
    display: inline-flex
    gap: 16px
    height: 20px
    &__link
        color: #760135
        font-weight: 500

.filter-city__items
    position: absolute

.line
    border: 1px solid #E0E1E6

.EnPage
    color: #0D0D0D

.header-down
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px 60px

.logo

.down-menu-left
    display: flex
    align-items: center
    gap: 16px

.link-box
    display: flex
    gap: 16px

.link
    color: #0D0D0D

.filter-service__items
    margin-top: 10px
    position: absolute
    display: flex
    flex-direction: column
    gap: 10px

.down-menu-right
    display: flex
    align-items: center

.phone-link
    display: flex
    margin-right: 16px
    font-weight: 500
    gap: 8px
    color: #25B456

.bank-link
    display: flex
    font-weight: 500
    gap: 8px
    color: #760135

.banner
    background-image: url(/media/img/background1.svg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    padding: 16px 60px

    &__head
        margin-top: 172px
        font-size: 38px
        font-weight: 600

    &__text
        margin-top: 16px
        font-size: 15px
        font-weight: 400

    &__btn
        margin: 24px 0 112px 0
        width: 230px
        height: 48px
        color: #fff
        font-size: 15px
        font-weight: 500
        border-radius: 8px
        background-color: #760135

.breadCrumbs
    display: flex
    align-items: center
    gap: 8px

    &__noActive
        font-size: 13px
        color: #111111
        opacity: 50%

    &__arrow
        color: #111111
        opacity: 50%

    &__active
        font-size: 13px
        color: #111111

.search
    padding: 20px 172px 0 172px

.search-up
    display: flex
    align-items: center
    justify-content: space-between

    &__head
        font-size: 32px
        font-weight: 500

.filter-car__head
    border: 1px solid #000
    display: flex
    justify-content: center
    align-items: center
    font-size: 15px
    font-weight: 500
    width: 256px
    height: 40px
    color: #760135

.filtre-car-card
    position: absolute

.search-down
    display: flex
    align-items: center
    margin-top: 24px

.filter-stamp
    display: flex
    align-items: center
    width: 440px
    height: 40px
    background-color: #F3F3F5

.filter-stamp-stamps
    position: absolute

.block
    padding: 16px
    display: flex
    flex-direction: column
    gap: 16px
    position: absolute
    top: 30%
    right: 30%
    left: 30%
    background-color: #f4f2f2
    border-radius: 16px
    // border: 1px solid #000

    &__head
        text-align: center
    &__text
        font-size: 24px
    &__box
        &-btnOnMainPage
            max-width: 124px
            max-height: 40px
            min-width: 102px
            min-height: 34px
            font-size: 18px
            color: #fff
            border-radius: 8px
            background-color: #760135
            &:hover
                background-color: #65012e
                transition-duration: 0.3s

@media (max-width: 360px )

    .block
        &__head
            font-size: 16px
        &__text
            font-size: 16px
        &__box
            &-btnOnMainPage
                font-size: 16px

@media (max-width: 764px )
    .block
        &__head
            font-size: 26px
        &__text
            font-size: 22px
        &__box
            &-btnOnMainPage
                font-size: 16px
